<div class="my-dashboard">
    <div class="employee-view-display">
        <div class="employee-card-view">
          <div class="employee-card">
            <h3>Card 1</h3>
            <p>Some text</p>
            <p>Some text</p>
          </div>
        </div>
      
        <div class="employee-card-view">
          <div class="employee-card">
            <h3>Card 2</h3>
            <p>Some text</p>
            <p>Some text</p>
          </div>
        </div>
        
        <div class="employee-card-view">
          <div class="employee-card">
            <h3>Card 3</h3>
            <p>Some text</p>
            <p>Some text</p>
          </div>
        </div>
        
        <div class="employee-card-view">
          <div class="employee-card">
            <h3>Card 4</h3>
            <p>Some text</p>
            <p>Some text</p>
          </div>
        </div>
      
        <div class="employee-card-view">
          <div class="employee-card">
            <h3>Card 5</h3>
            <p>Some text</p>
            <p>Some text</p>
          </div>
        </div>
        
    </div>
</div>