<div class="sidenav">
    <div class="company-logo"></div>
    <div class="navigation-group">
      <a class="button">Overview</a>
      <a class="button">Messages</a>
      <a class="button" onclick="openSearchNav()">Search</a>
      <a class="button">Filter</a>
      <a class="button">History</a>
      <a class="button">My Account</a>
      <a> </a>
      <a> </a>
      <a class="closebtn" onclick="closeSearchNav()">&times;</a>
      <a> </a>
      <a> </a>
      <a> </a>
      <a> </a>
      <a> </a>
      <a> </a>
      <a> </a>
      <a> </a>
      <a> </a>
      <a> </a>
      <a> </a>
      <a> </a>
      <a> </a>
      <a> </a>
      <a> </a>
      <a> </a>
      <a> </a>
      <a> </a>
      <a> </a>
      <a class="button">Get Help</a>
      <a class="button">Sign out</a>
    </div>
</div>

<div id="mySearchnav" class="searchNav">
    <a href="#">Department</a>
</div>