* {
  box-sizing: border-box;
}

.employee-view-display {
  margin: 0rem -0.3125rem;
  flex-wrap: no-wrap;
  content: "";
  display: flex;
  clear: both;
}

.employee-card-view {
  display: block;
  padding: .3125rem .625rem;
}

.employee-card {
  border: .0625rem solid #cccccc;;
  border-radius: .125rem;
  margin: .3125rem;
  width: 24%;
  height: 17.5rem;
  padding: .3125rem;
  text-align: left;
  background-color: #ffffff;
}

@media only screen and (min-width: 0rem) {
  .employee-view-display {
    flex-wrap: wrap;
  }
  .employee-card-view {
    width: 50%;
  }
}

@media only screen and (min-width: 62rem) {
  .employee-view-display {
    flex-wrap: wrap;
  }
  .employee-card-view {
    width: 25%;
  }
}

@media only screen and (min-width: 125rem) {
  .employee-view-display {
    flex-wrap: wrap;
  }
  .employee-card-view {
    width: 20%;
  }
}
